<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi select</title>
    <link rel="stylesheet" href="./assets/css/lib.css">
</head>
    <body>
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .row {
            margin-bottom: 50px;
        }

        label {
            display: block;
            margin-bottom: 4px;
        }

        #root-container {
            margin: 20px;
        }
    </style>

    <div id="root-container">

        <div class="row">
            <label>Выберите одну или несколько категорий из предложенных:</label>

            <multi-select
                    placeholder="Выберите категории"
                    :options="options"
                    v-model="selectedOptions0"
            >
            </multi-select>

            <p>Выбранные ID: {{ selectedOptions0 }}</p>
        </div>

        <div class="row">
            <label>Начните набирать название категории для автокомплита:</label>

            <multi-select
                    placeholder="Выберите категории"
                    :options="options"
                    v-model="selectedOptions1"
                    options-url="/vue/multi-select/product-categories.php"
            >
            </multi-select>

            <p>Выбранные ID: {{ selectedOptions1 }}</p>
        </div>

    </div>

    <!-- JS scripts -->
    <script type="text/javascript" src="./assets/js/lib.js"></script>
    <script type="text/javascript" src="./assets/js/app.js"></script>
</body>
</html>